/* Fonts: 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
/* spacing: 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;

  /* scroll-behavior: smooth; */
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
/****************************/
/*       REUSEABLES         */
/****************************/
strong {
  font-weight: 500;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
.container {
  /* background-color: #d7a0a0; */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  margin-bottom: 9.6rem;
}
.grid:last-child {
  margin-bottom: 0;
}
/* .grid:not(:last-child) {
  margin-bottom: 9.6rem;
} */
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.main-logo {
  height: 2.2rem;
}

.grid--center-v {
  align-items: center;
}
.text-center {
  text-align: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.2;
}

/****************************/
/*       HEADINGS         */
/****************************/
.hero-section {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.sub-heading {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}

/****************************/
/*       BUTTONS         */
/****************************/
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* only for .btn */
  border: none;
  cursor: pointer;
  /* transition on original state */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  color: #fff;
  transform: translateY(-3px);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  color: #555;
  /* border: 3px solid #fff; */
  box-shadow: inset 0 0 0 3px #cf711f;
  transform: translateY(-3px);
}
.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  padding: 0.2rem;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: none;
  border-bottom: 1px solid transparent;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}
.btn--form:hover {
  background-color: #fdf2e9;
  color: #45260a;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}
